@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #54575a;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f3f8f7 49.91%,
    #fff9f5 94.19%
  );
}

.wrapper {
  position: relative;
  width: 1440px;
  margin: auto;
}

.brand-img {
  position: absolute;
  width: 193px;
  top: 50.25px;
  left: 221px;
}

.title {
  position: absolute;
  width: 458px;
  top: 236px;
  left: 221px;
  font-size: 64px;
  font-weight: 500;
  line-height: 67.5px;
  text-align: left;
}

.text {
  position: absolute;
  width: 394px;
  top: 403px;
  left: 221px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.app-store-btn {
  position: absolute;
  width: 138.44px;
  top: 531px;
  left: 221px;
}

.app-store-btn img {
  width: 138.44px;
}

.google-play-btn {
  position: absolute;
  width: 156.19px;
  height: 46.28px;
  top: 531px;
  left: 381.81px;
}

.google-play-btn img {
  width: 156.19px;
  height: 46.28px;
}

.main-image-container {
  position: absolute;
  width: 535.72px;
  top: 229.73px;
  left: 683.28px;
  padding: 0px;
}

.main-image-container img {
  height: 411.15px;
}

.profile-img {
  position: absolute;
  width: 224px;
  top: 686px;
  left: 737px;
}

.product-img {
  position: absolute;
  width: 224px;
  top: 1157px;
  left: 737px;
}

.orders-img {
  position: absolute;
  width: 224px;
  top: 913px;
  left: 479px;
}

.cart-img {
  position: absolute;
  width: 224px;
  top: 1157px;
  left: 221px;
}

.home-img {
  position: absolute;
  width: 224px;
  top: 908px;
  left: 995px;
}

/* Background Toggles */
.background-toggles {
  position: absolute;
  right: 150px;
  top: 70px;
  display: flex;
}

.background-toggles > div {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.background-1 {
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23939394' fill-opacity='0.2'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

.background-2 {
  background-color: #a8b2e3;
background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23544dc3' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
}

.background-3 {
  background-color: #d09073;
background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23325627' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
}
